#summer {
    text-align: center;
    font-size: 50px;
  font-family: fantasy;
  color: rgb(83, 216, 216);
  margin: 25px;
}
#homebody {
    background-color: rgba(183, 142, 196, 0.788);
}
#homebutton {
  width: 150px;
  height: 75px;
  border-radius: 100px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: lucida sans;
  background-color: rgb(95, 159, 243);
}
#homebutton:hover {
  background-color: rgb(105, 222, 243); 
  transition: 0.35s;
}
#aruba {
  margin: 20px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#about {
  text-align: center;
  font-family: fantasy;
  color: rgb(83, 216, 216);
}
#carouselimg {
  display: block;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
#accordion {
  border-radius: 50px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
#accordiontext {
  font-family: lucida sans;
  font-weight: bold;
  text-align: center;
}
#hotel {
  margin-bottom: 25px;
  font-family: fantasy;
  color: rgb(83, 216, 216);
}
#cardtext {
  font-family: century gothic;
}
#cards {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}